/***********************
GENERAL
**************************/





/***********************
GAME SCREEN
**************************/

/*container*/
.container{
	height: 600px;
	width: 90%;
	margin: 45px auto;
	background: url('https://fathomazure.files.wordpress.com/2013/11/image-fascinating-images-from-outer-space-update-dec_4958696.jpg');
	background-position: center center;
	background-attachment: fixed;
	padding: .5em;
}

.deathContainer {
	height: 250px;
	width: 250px;
	position: relative;
	top:10em;

}

.deathStar{
	background: url('http://img2.wikia.nocookie.net/__cb20130901195227/epicrapbattlesofhistory/images/9/9f/Death_Star_-_1st.png') no-repeat;
    background-size: 9.375em;
    height: 12.5em;
    width: 15.625em;
	position: relative;
    top: 4.375em;
    left: 3.25em;
}

/*healthbar*/
.userContainer {

	height: 2.5em;
	width: 100%;
	position: relative;
	top:19.375em;
	background: rgba(80, 74, 75, .4);


}

.health{
	width:40%;
	height: 100%;
	background: red;
	float: left;

}


/*score*/
.scoreboard{

	float: right;
	text-align: center;
	position: relative;
	background: rgba(0,0,0, .4);
	color:#FFF8E7;
}
.score{
	font-size: 2em;
	padding:1em 1em;
	font-weight: bold;
	display: inline;

}

.points {
	font-size: 2em;
	text-align: center;
	position: relative;
	display: inline;
	padding:1em 1em;

}
